* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.textobarra {
    text-transform: uppercase;
    font-size: 14px;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
}

a {
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
    text-shadow: 1px 0px 7px #333333;
    color: white;
}

.avatar {
    background-color: rgb(5, 102, 141);
    height: 92px;
    width: 96px;
    border-radius: 50%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    overflow: hidden;
}

.avatar-imagem {
    object-fit: fill;
    width: 100%;
    height: 100%;
    border-radius: 50%;

}

ul {
    padding: 14px;
}

li {
    display: inline;
    padding: 5px;
}

.img-perfil {
    background-color: aqua;
    border-radius: 50%;
    height: 400px;
    width: 400px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    overflow: hidden;
    position: absolute;
    bottom: -50px;
    margin: auto;
}

.img-perfil1 {
    object-fit: fill;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    overflow: hidden;
    align-items: baseline;

}

.redes-item1 {
    position: relative;
    bottom: 10px;
    background-color: white;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: fill;
    margin: 10px;

}

.redes-item2,
.redes-item3 {
    position: relative;
    bottom: 10px;
    background-color: white;
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: fill;
    margin: 10px;
}

.header1 {
    display: flex;
    background-color: rgb(0, 168, 150);
    justify-content: space-around;
    border-radius: 5px;
    box-shadow: 0 2px 3px 0 rgb(0 0 0/ 60%);
}

.banner {
    height: 60%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    overflow: hidden;
}

.banner-img {
    object-fit: fill;
    width: 100%;
    margin-bottom: -10%;
}

#sobremim {
    background-color: rgb(0, 168, 150);
    height: 80%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sobremim-titulos {
    line-height: 0.7;
    text-align: center;
}

.sobremim-p {
    font-size: 20px;
    line-height: 2;
    font-size: 20px;
    text-align: center;
}

#formacao {
    background-color: rgb(240, 243, 189);
    text-transform: uppercase;
    height: 300px;
    width: 100%;
    display: flex;
    flex: column;
    margin-top: 20px
}

.formacao-items {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
}

#formacao-title,
#exp-title,
#diadia-title {
    margin-left: 30px;
}

#experiencias {
    background-color: rgb(2, 195, 154);
    text-transform: uppercase;
    height: 400px;
    width: 100%;
    display: flex;
    flex: column;
    margin-top: 10px
}

.exp-items {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    line-height: 0.75;
}

.exp-items1 {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column-reverse;
    margin-left: -180px;
    line-height: 0.75;
}

.projeto-title {
    text-align: center;
    text-transform: uppercase;
}

#projetos {
    background-color: rgb(240, 243, 189);
    text-transform: uppercase;
    height: 400px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-row: 16px;
    gap: 15px;
    max-height: 1000px;
    margin-top: 20px;
    margin-bottom: 100px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.projeto1 {
    background-color: rgb(0, 168, 150);

}

.projeto2 {
    background-color: rgb(0, 168, 150);

}

.projeto3 {
    background-color: rgb(0, 168, 150);
    ;

}

.img-projeto1,
.img-projeto2,
.img-projeto3 {
    object-fit: fill;
    width: 100%;
    height: 100%;
}

.a1,
.a2,
.a3 {
    font-weight: bold;
    color: black;
}

.diadia {
    background-color: rgb(2, 195, 154);
    text-transform: uppercase;
    height: 500px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.d1,
.d2 {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    line-height: -10px;
    color: black;
    margin-bottom: 70px;
}

#falecomigo {
    background-color: rgb(240, 243, 189);
    text-transform: uppercase;
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.forms {
    font-size: 16px;
    height: 400px;
    width: 320px;
    border-radius: 4px;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    line-height: 4;
    margin: auto;
    margin-bottom: 20px;
}