* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.textobarra {
    text-transform: uppercase;
    font-size: 14px;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
}

 a {
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
    text-shadow: 1px 0px 7px #333333;
    color: white;
}

.avatar {
    background-color: rgb(5, 102, 141);
    height: 92px;
    width: 96px;
    border-radius: 50%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    overflow: hidden;
}

.avatar-imagem {
    object-fit: fill;
    width: 100%;
    height: 100%;
    border-radius: 50%;

}

ul {
    padding: 14px;
}

li {
    display: inline;
    padding: 5px;
}

.img-perfil {
    background-color: aqua;
    border-radius: 50%;
    height: 400px;
    width: 400px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    overflow: hidden;
    position: absolute;
    bottom: -50px;
    margin: auto;
}

.img-perfil1 {
    object-fit: fill;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    overflow: hidden;
    align-items: baseline;

}
.redes-item1 {
    position: relative;
    bottom: 10px;
    background-color: white;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: fill;
    margin: 10px;

}

.redes-item2,
.redes-item3 {
    position: relative;
    bottom: 10px;
    background-color: white;
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: fill;
    margin: 10px;
}

.header1 {
    display: flex;
    background-color: rgb(0, 168, 150);
    justify-content: space-around;
    border-radius: 5px;
    box-shadow: 0 2px 3px 0 rgb(0 0 0/ 60%);
}

.banner {
    height: 60%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    overflow: hidden;
}

.banner-img {
    object-fit: fill;
    width: 100%;
    margin-bottom: -10%;
}